@media (min-width: 1900px) {
  html {
    font-size: 70.5%;
  }
}

@media (min-width: 1600px) and (max-width: 1899px) {
  html {
    font-size: 67.5%;
  }
}

@media (min-width: 820px) {
  body {
    align-items: center;
    background-image: url(images/bg-desktop.png);
    background-position: bottom;
    background-size: 100vw 52.5vh;
  }

  .cards {
    flex-direction: row;
    gap: 3.2rem;
  }

  .card__header {
    width: clamp(30rem, 45vw, 35rem);
  }

  .card__details {
    width: clamp(30rem, 47vw, 50rem);
    height: 15.8rem;
    align-self: end;
    padding: 4rem 3.5rem 5rem;
  }

  .details__storage {
    text-align: left;
  }

  .card__bar {
    margin-bottom: 0.8rem;
  }

  .card__tooltip {
    bottom: 13.2rem;
    right: 7%;
    border-radius: 10px 10px 0 10px;
  }

  .card__tooltip::after {
    content: "";
    position: absolute;
    right: 0rem;
    top: 98%;
    border: 1.2rem solid;
    border-color: white white transparent transparent;
  }
}

@media (max-width: 374px) {
  html {
    font-size: 52.5%;
  }
}
