* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

h1,
h2,
button {
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
}

button,
ul {
  border: none;
  background: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

:root {
  --gradient: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  --paleblue: hsl(243, 100%, 93%);
  --grayishblue: hsl(229, 7%, 55%);
  --darkblue: hsl(228, 56%, 26%);
  --verydarkblue: hsl(229, 57%, 11%);

  --font: "Raleway", sans-serif;
  --fw-1: 400;
  --fw-2: 700;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font);
  font-weight: var(--fw-1);
  font-size: 1.4rem;
  background-color: var(--verydarkblue);
  background-image: url(images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--paleblue);
}

.card__details,
.bar__progress {
  position: relative;
}

.bar__progress:after,
.card__tooltip {
  position: absolute;
  background-color: white;
}

.cards,
.card__buttons,
.card__limits,
.card__tooltip {
  display: flex;
}

.card__button,
.card__details,
.card__tooltip {
  border-radius: 10px;
}

.details__storage span,
.card__limits,
.tooltip__amount,
.tooltip__text {
  font-weight: var(--fw-2);
}

.card,
.card__tooltip {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.cards {
  flex-direction: column;
  gap: 1.6rem;
  padding: 3rem 2.3rem 6.5rem;
}

.card {
  background-color: var(--darkblue);
}

.card__header {
  padding: 4rem;
  border-radius: 10px 80px 10px 10px;
}

.card__logo {
  width: 13.5rem;
  margin-bottom: 3rem;
}

.card__buttons {
  gap: 1.6rem;
}

.card__button {
  width: 4.8rem;
  height: 4.8rem;
  transition: all 0.3s;
  background-color: var(--verydarkblue);
  background-repeat: no-repeat;
  background-position: center;
}

.card__button:hover {
  background-color: hsl(230, 57%, 20%);
}

.card__button--doc {
  background-image: url(images/icon-document.svg);
}

.card__button--folder {
  background-image: url(images/icon-folder.svg);
}

.card__button--upload {
  background-image: url(images/icon-upload.svg);
}

.card__details {
  padding: 3rem 3.5rem 5rem;
}

.details__storage {
  text-align: center;
  margin-bottom: 1.6rem;
}

.card__limits {
  justify-content: space-between;
  font-size: 1.2rem;
}

.card__bar {
  height: 2.3rem;
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 1.2rem;
  border-radius: 50px;
  background-color: hsl(228, 55%, 18%);
}

.bar__progress {
  height: 100%;
  width: 75%;
  border-radius: 50px;
  animation: 1s load forwards ease-in-out;
  background: var(--gradient);
}

@keyframes load {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

.bar__progress:after {
  content: "";
  top: 10%;
  right: 0.2rem;
  height: 78%;
  width: 1.2rem;
  border-radius: 50%;
}

.card__tooltip {
  right: 25.5%;
  align-items: center;
  padding: 1.3rem 2.2rem;
  gap: 1.2rem;
  animation: 0.5s fade ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltip__amount {
  font-size: 3.5rem;
  color: var(--darkblue);
}

.tooltip__text {
  text-transform: uppercase;
  word-spacing: 0.2rem;
  font-size: 1.2rem;
  color: var(--grayishblue);
}
