* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

h1,
h2,
h3,
button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
}

label,
button {
  cursor: pointer;
}

input {
  display: none;
}

:root {
  --gradient1: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --gradient2: linear-gradient(
    to bottom,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --verylightgrayishblue: hsl(240, 78%, 98%);
  --lightgrayishblue: hsl(234, 14%, 74%);
  --grayishblue: hsl(233, 13%, 49%);
  --darkgrayishblue: hsl(232, 13%, 33%);

  --font: "Montserrat", sans-serif;
  --fw: 700;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  font-weight: var(--fw);
  font-size: 1.5rem;
  background-color: var(--verylightgrayishblue);
  background-image: url(images/bg-top.svg);
  background-repeat: no-repeat;
  background-size: 32rem;
  background-position: top -3rem right -16rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin: 5rem 2.5rem;
  transition: margin 0.3s;
}

/* ~SHARED ATTRIBUTES~ */

.plan__toggle,
.card__button,
.card__button > * {
  position: relative;
}

.plan__toggle::after,
.plan__toggle::before,
.card__button::before {
  position: absolute;
}

.pricing__plan,
.cards,
.card__price--annual,
.card__price--monthly {
  display: flex;
}

.pricing h1,
.card {
  color: var(--grayishblue);
}

.card--pro,
.card--pro h2,
.card--pro > .card__price,
.card--pro > .card__button:hover,
.card__button {
  color: #fff;
}

.plan__toggle,
.card__button::before {
  background: var(--gradient1);
}

.plan__toggle::before,
.card {
  background-color: #fff;
}

.card--pro > .card__button::before,
.card--pro > .card__button {
  background: #fff;
}

.plan__toggle::after,
.card__price--monthly,
.monthly .card__price--annual,
.card__button:hover::before {
  opacity: 0;
}

.pricing__plan:hover .plan__toggle::after,
.monthly .card__price--monthly {
  opacity: 1;
}

.plan__toggle::after,
.plan__toggle::before,
.card__button,
.card__button::before {
  transition: all 0.3s;
}

.card__price--annual,
.card__price--monthly {
  transition: all 0.3s ease-in-out;
}

.card,
.card__button {
  overflow: hidden;
}

/* ~HEADER~ */

.pricing h1 {
  text-align: center;
  margin-bottom: 3.8rem;
  font-size: 3.2rem;
}

.pricing__plan {
  align-items: center;
  gap: 2.4rem;
}

.pricing__plan span {
  font-size: 1.5rem;
  color: var(--lightgrayishblue);
}

.plan__toggle {
  width: 5.6rem;
  height: 3.2rem;
  border-radius: 50px;
}

.plan__toggle::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(hsl(237, 45%, 80%), hsl(237, 45%, 65%));
}

.plan__toggle::before {
  content: "";
  z-index: 2;
  top: 0.4rem;
  left: 2.8rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}

.plan__input:checked ~ .plan__toggle::before {
  left: 0.4rem;
}

/* ~CARDS~ */

.cards {
  flex-direction: column;
  width: 100%;
  min-width: 31.67rem;
  max-width: 43rem;
  gap: 3rem;
}

.card {
  text-align: center;
  padding: 3rem 2.6rem;
  border-radius: 8px;
  box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.08);
}

.card--pro {
  background: var(--gradient2);
}

.card h2 {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

.card--pro h2 {
  font-size: 1.6rem;
}

.card__price {
  height: 10.5rem;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #e6e6e6;
  font-size: 7rem;
  color: var(--darkgrayishblue);
}

.card--pro > .card__price {
  border-bottom: 1px solid #9fa5f8;
}

.card__price span {
  font-size: 3.6rem;
}

.card__price--annual,
.card__price--monthly {
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.card__price--monthly {
  transform: translate(-100%, -100%);
}

.monthly .card__price--monthly {
  transform: translate(0%, -100%);
}

.monthly .card__price--annual {
  transform: translate(100%, 0%);
}

.card__features {
  margin-bottom: 3.2rem;
}

.card__features li {
  padding: 1.7rem 0;
  border-bottom: 1px solid #e6e6e6;
}

.card--pro > .card__features li {
  border-bottom: 1px solid #9fa5f8;
}

.card__button {
  width: 100%;
  padding: 1.4rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  box-shadow: 0 0 0 1px transparent;
}

.card__button::before {
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.card__button:hover {
  color: #7579e3;
  box-shadow: 0 0 0 1px #7579e3;
}

.card--pro > .card__button {
  color: #7579e3;
  box-shadow: 0 0 0 1px transparent;
}

.card--pro > .card__button:hover {
  background: transparent;
  box-shadow: 0 0 0 1px #fff;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
