* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

h1,
h2,
h3,
button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
}

label,
button {
  cursor: pointer;
}

input {
  display: none;
}

:root {
  --gradient: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --verylightgrayishblue: hsl(240, 78%, 98%);
  --lightgrayishblue: hsl(234, 14%, 74%);
  --grayishblue: hsl(233, 13%, 49%);
  --darkgrayishblue: hsl(232, 13%, 33%);

  --font: "Montserrat", sans-serif;
  --fw: 700;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  font-weight: var(--fw);
  font-size: 1.5rem;
  background-color: var(--verylightgrayishblue);
  background-image: url(images/bg-top.svg);
  background-repeat: no-repeat;
  background-size: 32rem;
  background-position: top -3rem right -16rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 2.5rem;
}

.pricing {
  margin-bottom: 6rem;
}

.pricing h1 {
  font-size: 3rem;
  color: var(--darkgrayishblue);
  margin-bottom: 2.8rem;
  text-align: center;
}

.pricing__plan {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.pricing__plan span {
  font-size: 1.5rem;
  color: var(--grayishblue);
}

.plan__button {
  position: relative;
  background: var(--gradient);
  border-radius: 50px;
  width: 4.5rem;
  height: 2.8rem;
  pointer-events: none;
}

.plan__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(hsl(237, 45%, 80%), hsl(237, 45%, 65%));
  opacity: 0;
  border-radius: 50px;
  transition: all 0.3s;
}

.pricing__plan:hover .plan__button::after {
  opacity: 1;
}

.plan__button::before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  left: 0.4rem;
  top: 0.4rem;
  transition: all 0.3s;
  z-index: 2;
}

.plan__input:checked ~ .plan__button::before {
  left: 2.1rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* max-width: 50rem;
  width: 100%; */
}

.card {
  background-color: white;
  text-align: center;
  overflow: hidden;
  padding: 3rem 2.6rem;
  border-radius: 8px;
  color: var(--darkgrayishblue);
  box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.08);
  width: 31.67rem;
}

.card--pro {
  background: var(--gradient);
  color: #fff;
}

.card h2 {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  color: var(--darkgrayishblue);
}

.card--pro h2 {
  color: #fff;
  font-size: 1.6rem;
}

.card--pro > .card__price {
  color: #fff;
}

.card__price {
  position: relative;
  font-size: 7rem;
  border-bottom: 1px solid var(--lightgrayishblue);
  color: var(--darkgrayishblue);
  padding-bottom: 1.8rem;
  height: 10.5rem;
  /* width: 100%; */
}

.card__price span {
  font-size: 3.6rem;
}

.card__price--annual,
.card__price--monthly {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.card__price--annual {
  transition: all 0.3s ease-in-out;
}

.card__price--monthly {
  transform: translate(-100%, -100%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.monthly .card__price--monthly {
  transform: translate(0%, -100%);
  opacity: 1;
}

.monthly .card__price--annual {
  transform: translate(100%, 0%);
  opacity: 0;
}

.card__features {
  margin-bottom: 3rem;
}

.card__features li {
  padding: 1.4rem 0;
  border-bottom: 1px solid var(--lightgrayishblue);
}

.card__button {
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: white;
  width: 100%;
  padding: 1.4rem;
  transition: all 0.3s;
  box-shadow: 0 0 0 1px transparent;
  border-radius: 8px;
  overflow: hidden;
}

.card__button > * {
  position: relative;
}

.card__button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  background: var(--gradient);
}

.card--pro > .card__button::before {
  background: #fff;
}

.card__button:hover::before {
  opacity: 0;
}

.card__button:hover {
  color: #7579e3;
  box-shadow: 0 0 0 1px #7579e3;
}

.card--pro > .card__button {
  color: #7579e3;
  background: #fff;
  box-shadow: 0 0 0 1px transparent;
}

.card--pro > .card__button:hover {
  color: #fff;
  background: transparent;
  box-shadow: 0 0 0 1px #fff;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
