* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --purple: hsl(259, 100%, 65%);
  --lightred: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --offwhite: rgb(240, 240, 240);
  --lightgrey: hsl(0, 0%, 86%);
  --smokeygrey: hsl(0, 1%, 44%);
  --offblack: hsl(0, 0%, 8%);

  --font: "Poppins", sans-serif;
  --fw-1: 400;
  --fw-2: 700;
  --fw-3: 800;
}

/* HELPER CLASSES, SHARED ATTRIBUTES */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

body,
.inputs-wrapper,
.inputs-wrapper label,
.button-wrapper {
  display: flex;
}

body,
.button-wrapper {
  justify-content: center;
}

.age-calculator__form,
.inputs-wrapper {
  margin-bottom: 3.2rem;
}

.category,
.inputs-wrapper input {
  font-weight: var(--fw-2);
}

.category,
.error {
  font-size: 1.2rem;
}

.error,
.error-active .category {
  color: var(--lightred);
}

.button-wrapper hr,
.button-wrapper button {
  border: none;
}

.error,
.results {
  font-style: italic;
}

/* ///////////////////////////////// */

body {
  min-height: 100vh;
  font-family: var(--font);
  background-color: var(--offwhite);
}

main {
  max-width: 60rem;
  margin: 8.8rem 1.6rem;
}

.age-calculator {
  padding: 4.8rem 2.4rem;
  border-radius: 24px 24px 100px 24px;
  background-color: var(--white);
}

.inputs-wrapper {
  gap: 1.6rem;
}

.inputs-wrapper label {
  flex-direction: column;
}

.category {
  margin-bottom: 0.4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: var(--smokeygrey);
}

.inputs-wrapper input {
  width: 100%;
  padding: 1.2rem 1.2rem 1.2rem 1.6rem;
  border-radius: 8px;
  font-family: inherit;
  font-size: 2rem;
  letter-spacing: 0.16px;
  border: 1px solid var(--lightgrey);
  outline: none;
}

.inputs-wrapper input:focus {
  border: 1px solid var(--purple);
}

.error-active input {
  border: 1px solid var(--lightred);
}

.error {
  font-weight: var(--fw-1);
}

/* BUTTON */
.button-wrapper {
  position: relative;
  height: 6.4rem;
}

.button-wrapper hr {
  width: 100%;
  height: 1px;
  align-self: center;
  background-color: var(--lightgrey);
}

.button-wrapper button {
  position: absolute;
  height: 100%;
  width: 6.4rem;
  border-radius: 100%;
  background: url(../assets/images/icon-arrow.svg) no-repeat;
  background-size: 3rem;
  background-position: center;
  background-color: var(--purple);
  cursor: pointer;
  transition: background 0.3s;
}

.button-wrapper button:hover {
  background-color: var(--offblack);
}

/* RESULTS */
.results {
  width: max-content;
  font-weight: var(--fw-3);
  font-size: 5rem;
  letter-spacing: -0.032rem;
  line-height: 5.5rem;
}

.result {
  color: var(--purple);
}
