@media (prefers-reduced-motion) {
  .home h1,
  .features__list,
  .cta img,
  .cta__card {
    transition: none;
  }
}

@media (min-width: 1180px) {
  /* SHARED ATTRIBUTES */
  .header__cta,
  .green-link,
  .features p,
  .cta__card blockquote {
    font-size: 1.8rem;
  }

  .green-link,
  .features p,
  .cta__card blockquote {
    line-height: 3.2rem;
  }

  .fade-in,
  .fade-left,
  .fade-right {
    opacity: 0;
    filter: blur(10px);
  }

  .cta img,
  .cta__card {
    transition: transform 0.5s, opacity 0.5s, filter 0.5s;
  }
  /* ///////////////// */

  header {
    padding: 5.6rem 16.5rem 5.5rem 16.53rem;
  }

  .home::after {
    background: url(/images/bg-pattern-left.svg),
      url(/images/bg-pattern-right.svg), #24053e;
    background-repeat: no-repeat;
    background-position: top -2.2rem left -14rem, top 17rem right -5rem;
    clip-path: ellipse(107% 76.84% at top center);
  }

  .home h1 {
    margin-bottom: 3.7rem;
    font-size: 8rem;
    line-height: 8rem;
    transition: opacity 0.6s, filter 0.6s;
  }

  .green-link {
    letter-spacing: -0.018rem;
  }

  .green-link--home {
    padding: 1.2rem 3.2rem 1.3rem 3.3rem;
    margin-bottom: 5rem;
    transition: opacity 0.6s 0.9s, filter 0.6s 0.9s, background 0.3s, color 0.3s,
      border 0.3s;
  }

  .features {
    padding: 9rem 16.1rem 17.1rem 16.5rem;
    margin-bottom: 11rem;
    height: 56.9rem;
  }

  .features::after {
    clip-path: ellipse(103% 100% at top center);
  }

  .features__list {
    display: flex;
    align-items: center;
    gap: 2.6rem;
    transition: opacity 0.5s, filter 0.5s;
  }

  .features li {
    flex-direction: column;
    width: 35.4rem;
  }

  .features li:not(:last-child) {
    margin-bottom: 0;
  }

  .features__number {
    padding: 0.7rem 2.25rem;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-bottom: 5.6rem;
  }

  .features h2 {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 2.8rem;
  }

  .cta {
    max-width: 111.2rem;
    margin: 0 auto 6.03rem;
    padding-top: 17.3rem;
    height: 64.73rem;
  }

  .cta img {
    width: 47.7rem;
    height: 47.7rem;
  }

  .fade-left {
    transform: translateX(133%);
  }

  .cta__card {
    margin-bottom: 6.174rem;
    padding: 6.4rem;
    width: 73rem;
  }

  .fade-right {
    transform: translateX(-52%);
  }

  .cta__card h2 {
    margin-bottom: 3.2rem;
    font-size: 5.6rem;
    line-height: 6.4rem;
    padding-left: 0.1rem;
  }

  .cta__card blockquote {
    margin-bottom: 3.2rem;
  }

  .green-link--cta {
    padding: 1.2rem 2.45rem 1.3rem 2.55rem;
  }

  .cta__card::after {
    right: 7.269rem;
    bottom: -4.874rem;
  }

  footer {
    margin-bottom: 11rem;
  }
}

@media (min-width: 768px) and (max-width: 1179px) {
  header {
    padding: 3.2rem 4rem 5.6rem 3.9rem;
  }

  .home::after {
    background: url(/images/bg-pattern-left.svg),
      url(/images/bg-pattern-right.svg), #24053e;
    background-repeat: no-repeat;
    background-position: top -5rem left -23rem, top 13rem right -9rem;
    clip-path: ellipse(125% 73.84% at top center);
  }

  .home h1 {
    margin-bottom: 3.9rem;
    font-size: 6rem;
    line-height: 6rem;
  }

  .green-link--home {
    margin-bottom: 5.5rem;
  }

  .features {
    text-align: left;
    padding: 5.6rem 9.7rem 10.373rem;
    margin-bottom: 10.027rem;
  }

  .features::after {
    clip-path: ellipse(153% 100% at top center);
  }

  .features li {
    gap: 3.2rem;
  }

  .features li:not(:last-child) {
    margin-bottom: 4.8rem;
  }

  .features__number {
    margin-bottom: 0;
  }

  .cta {
    padding-top: 15.1rem;
    margin: 0 4rem 8rem;
  }

  .cta__card {
    width: 74.71%;
    padding: 4.8rem 5.6rem 5.6rem;
  }

  .cta__card h2 {
    margin-bottom: 2.4rem;
    font-size: 4.8rem;
    line-height: 5.6rem;
    padding-left: 0.05rem;
  }

  .cta__card::after {
    right: 1.269rem;
    bottom: -8.874rem;
  }

  footer {
    margin-bottom: 12.178rem;
  }
}

@media (min-width: 768px) {
  /* SHARED ATTRIBUTES */
  .cta,
  .cta__card {
    position: relative;
  }

  .features,
  .features li,
  .cta {
    display: flex;
  }
  /* ///////////////// */

  .phone {
    width: 66.93%;
    max-width: 76.7rem;
    margin-right: 10.3rem;
    margin-left: 15.1rem;
  }

  .features {
    justify-content: center;
  }

  .features li {
    align-items: center;
  }

  .cta {
    justify-content: flex-end;
  }

  .cta__card {
    text-align: left;
  }

  .cta__card::after {
    content: "";
    position: absolute;
    width: 22rem;
    height: 19.5rem;
    background: url(/images/bg-pattern-3.svg);
  }

  .cta img {
    width: initial;
  }
}
