@media (min-width: 1440px) {
  /* HEADER */
  header {
    align-items: center;
    padding: 3.4rem 4.8rem 1.8rem;
  }

  .logo {
    width: 17rem;
    height: 3.3rem;
  }

  .hamburger {
    display: none;
  }

  .header__nav {
    pointer-events: auto;
    position: static;
    opacity: 1;
    padding: 0;
    background-color: transparent;
    font-size: 1.8rem;
    letter-spacing: -0.013rem;
    color: #fff;
  }

  .nav__list {
    flex-direction: row;
    width: initial;
    gap: 4.7rem;
  }

  .nav__contact {
    color: #24303e;
    background-color: #fff;
  }

  .nav__contact:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2537);
  }

  /* HOME */

  .home img {
    height: 80rem;
  }

  .home__content {
    top: 19.5rem;
    font-size: 5.6rem;
    line-height: 6.905rem;
    letter-spacing: 0.875rem;
  }

  .home__content h1 {
    margin-bottom: 9.654rem;
  }

  /* ABOUT */
  .about {
    text-align: initial;
  }

  .about .content,
  .about picture {
    width: 50%;
  }

  .about .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.1rem 0 0;
  }

  .about .content h2 {
    font-size: 4rem;
    line-height: 4.932rem;
    letter-spacing: -0.029rem;
    margin-bottom: 3.2rem;
  }

  .about .content p {
    margin-bottom: 4rem;
  }

  .transform,
  .standout {
    display: flex;
  }

  .transform picture {
    order: 2;
  }

  .transform .content {
    order: 1;
    padding: 0 11rem 0 16.5rem;
  }

  .standout .content {
    padding: 0 16.5rem 0 11rem;
  }

  /* SERVICES */

  .services {
    display: flex;
  }

  .services .content {
    padding: 0 19rem 0 19.1rem;
  }

  .services__design,
  .services__photography {
    width: 50%;
  }

  /* TESTIMONIALS */
  .testimonials {
    padding: 16rem 16.5rem 4rem;
  }

  .testimonials h2 {
    font-size: 2rem;
    line-height: 2.466rem;
    letter-spacing: 0.5rem;
    margin-bottom: 8.1rem;
  }

  .testimonials div {
    display: flex;
    justify-content: space-between;
    max-width: 170rem;
    margin: 0 auto;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
  }

  .testimonial:not(:last-child) {
    margin-bottom: 0;
  }

  /* PROJECTS */
  .projects {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding-top: 12rem;
  }

  /* FOOTER */

  footer {
    padding: 7.2rem 0;
  }
}
