@media (min-width: 90em) {
  .transform .content {
    padding: 0 11rem 0 16.5rem;
  }

  .standout .content {
    padding: 0 16.5rem 0 11rem;
  }

  .services .content {
    padding: 0 19rem 0 19.1rem;
  }

  .testimonials__wrapper {
    max-width: 130rem;
  }

  .testimonials {
    padding: 16rem 16.5rem 4rem;
  }
}

@media (min-width: 73.753em) and (max-width: 89.9375em) {
  .transform .content {
    padding: 0 5rem 0 6.5rem;
  }

  .standout .content {
    padding: 0 6.5rem 0 5rem;
  }

  .services .content {
    padding: 0 12rem 0 12.1rem;
  }

  .testimonials__wrapper {
    width: 110rem;
  }

  .testimonials {
    padding: 16rem 2.5rem 4rem;
  }
}

@media (min-width: 73.75em) {
  header {
    padding: 3.4rem 4.8rem 1.8rem 4rem;
  }

  .hamburger {
    display: none;
  }

  .header__nav {
    position: static;
    opacity: 1;
    padding: 0;
    font-size: 1.8rem;
    letter-spacing: -0.013rem;
    color: #fff;
    background-color: transparent;
    pointer-events: auto;
  }

  .nav__list {
    flex-direction: row;
    width: initial;
    gap: 4.7rem;
  }

  .nav__contact {
    color: #24303e;
    background-color: #fff;
  }

  .nav__contact:hover {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.2537);
  }

  /* HOME */
  .home {
    background-color: #3dbeff;
    height: 80rem;
    overflow: hidden;
  }

  .home__content {
    top: 19.5rem;
    font-size: 5.6rem;
    line-height: 6.905rem;
    letter-spacing: 0.875rem;
  }

  .home__content h1 {
    margin-bottom: 9.654rem;
    transition: opacity 0.6s, transform 0.6s;
  }

  .arrow {
    transition: opacity 0.6s, transform 0.6s;
    transition-delay: 1.1s;
    animation: floating 1.6s infinite ease-in-out;
    animation-delay: 1.85s;
  }

  .fade-down {
    transform: translateY(-15rem);
    opacity: 0;
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, -2rem);
    }
    100% {
      transform: translate(0, 0px);
    }
  }

  .home__img {
    height: 100%;
    transition: transform 0.6s ease-in-out;
    object-position: bottom;
  }

  .fade-up {
    transform: translateY(55rem);
  }

  /* ABOUT */

  .about .content h2 {
    margin-bottom: 3.2rem;
    font-size: 4rem;
    line-height: 4.932rem;
    letter-spacing: -0.029rem;
  }

  /* SERVICES */

  .services img {
    max-height: initial;
    object-fit: contain;
  }

  /* TESTIMONIALS */
  .testimonials__wrapper {
    display: flex;
  }

  .testimonial {
    width: 35rem;
  }

  .testimonial img {
    margin-bottom: 5.8rem;
  }

  .testimonial blockquote {
    margin-bottom: 6.9rem;
  }

  .testimonial:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 64em) {
  /* PROJECTS */
  .projects {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding-top: 12rem;
  }
}

@media (min-width: 48em) and (max-width: 73.6875em) {
  .about img {
    height: 50rem;
  }

  .about .content {
    padding: 0.1rem 4.5rem 0;
  }

  .testimonials__wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial {
    width: 29rem;
  }

  .testimonial__jennie {
    grid-column: span 2 / 3;
  }
}

@media (min-width: 768px) {
  /* SHARED ATTRIBUTES */
  .about .content,
  .transform,
  .standout,
  .services,
  .testimonial {
    display: flex;
  }

  .about .content,
  .testimonial {
    flex-direction: column;
  }

  /* HEADER */
  .logo {
    width: 17rem;
    height: 3.3rem;
  }

  /* ABOUT */
  .about {
    text-align: initial;
  }

  .about img {
    max-height: initial;
  }

  .about .content,
  .about picture {
    width: 50%;
  }

  .about .content {
    justify-content: center;
  }

  .about .content p {
    margin-bottom: 4rem;
  }

  .transform picture {
    order: 2;
  }

  .transform .content {
    order: 1;
  }

  /* SERVICES */
  .services__design,
  .services__photography {
    width: 50%;
  }

  .services .content p {
    min-height: 8.1rem;
  }

  /* TESTIMONIALS */

  .testimonials h2 {
    margin-bottom: 8.1rem;
    font-size: 2rem;
    line-height: 2.466rem;
    letter-spacing: 0.5rem;
  }

  .testimonials__wrapper {
    margin: 0 auto;
    justify-content: space-between;
  }

  .testimonial {
    align-items: center;
  }

  /* FOOTER */

  footer {
    padding: 7.2rem 0;
  }
}
