* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

button {
  border: none;
  background: none;
}

h1,
a,
li {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

:root {
  --font1: "Barlow", sans-serif;
  --font2: "Fraunces", serif;
  --fw-1: 600;
  --fw-2: 700;
  --fw-3: 900;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font1);
}

header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3.2rem 2.4rem 1.8rem;
  transition: background-color 0.3s;
}

.logo {
  width: 12.364rem;
  height: 2.4rem;
}

.header__nav {
  position: absolute;
  top: 10.6rem;
  right: 2.4rem;
  padding: 3.9rem 0 3.9rem;
  pointer-events: none;

  font-family: var(--font1);
  font-weight: var(--fw-1);
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.014rem;

  color: #808397;
  background-color: #fffcf8;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hide-load {
  display: none;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 32.9rem;
  align-items: center;
}

.nav__list li {
  display: inline-flex;
}

.nav__item {
  transition: color 0.3s;
}

.nav__item:hover {
  color: #fbd600;
}

.nav__contact {
  padding: 1.6rem 3rem 1.5rem 3.2rem;
  border-radius: 28px;

  font-family: var(--font2);
  font-weight: var(--fw-3);
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.011rem;
  text-transform: uppercase;

  background-color: #fbd600;
  color: #24303e;
  transition: background-color 0.3s;
}

.nav__contact:hover {
  background-color: #3dbeff;
}

.header__nav::before {
  content: "";
  position: absolute;
  top: -2.4rem;
  right: 0;
  border: 1.2rem solid;
  border-color: transparent #fffcf8 #fffcf8 transparent;
}

.nav--active {
  opacity: 1;
  pointer-events: auto;
}

/* STICKY HEADER */

.sticky {
  position: fixed;
  background-color: rgba(61, 190, 255, 0.9);
  transition: background-color 0.3s;
  box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.15);
}

/* HOME */
main {
  width: 100%;
}

.home {
  position: relative;
}

.home img {
  height: 53.8rem;
  object-fit: cover;
}

.home__content {
  position: absolute;
  top: 14.4rem;
  left: 0;
  width: 100%;

  font-family: var(--font2);
  font-weight: var(--fw-3);
  font-size: 4rem;
  line-height: 4.932rem;
  letter-spacing: 6.25px;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
}

.home__content h1 {
  margin-bottom: 5.2rem;
}

.home__content a {
  display: inline-block;
}

/* ABOUT */

.about {
  text-align: center;
}

.about img {
  object-fit: cover;
  max-height: 46rem;
}

.about .content {
  padding: 6.4rem 2.4rem;
}

.about .content h2 {
  margin-bottom: 2.4rem;
  font-family: var(--font2);
  font-weight: var(--fw-3);
  font-size: 3.2rem;
  line-height: 3.946rem;
  letter-spacing: -0.023rem;
  color: #24303e;
}

.about .content p {
  margin-bottom: 3.2rem;
  font-family: var(--font1);
  font-weight: var(--fw-1);
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.013rem;
  color: #808397;
}

.about__link {
  position: relative;
  display: inline-block;
  font-family: var(--font2);
  font-weight: var(--fw-3);
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #24303e;
}

.about__link:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 1.5rem;
  left: -0.9rem;
  width: 13.7rem;
  height: 1rem;
  border-radius: 28px;
  opacity: 0.25;
  transition: all 0.3s;
}

.transform .about__link:after {
  background-color: #fad400;
}

.standout .about__link:after {
  background-color: #fe7766;
}

.about__link:hover.about__link:after {
  opacity: 1;
}

/* SERVICES */

.services img {
  max-height: 60rem;
  object-fit: cover;
}

.services__design,
.services__photography {
  position: relative;
}

.services__design {
  color: #24554a;
}

.services__photography h3 {
  color: #052c3b;
  opacity: 0.75;
}

.services__photography p {
  color: #19536c;
}

.services .content {
  position: absolute;
  bottom: 5.9rem;
  width: 100%;
  padding: 0 2.4rem;
  text-align: center;
}

.services .content h3 {
  margin-bottom: 2.7rem;
  font-family: var(--font2);
  font-weight: var(--fw-3);
  font-size: 2.8rem;
  line-height: 3.452rem;
  letter-spacing: -0.02rem;
}

.services .content p {
  font-family: var(--font1);
  font-weight: var(--fw-1);
  font-size: 1.6rem;
  line-height: 2.7rem;
  letter-spacing: -0.011rem;
}

/* TESTIMONIALS */

.testimonials {
  padding: 6.4rem 2.4rem 0;
  text-align: center;
}

.testimonials h2 {
  margin-bottom: 6.4rem;
  font-family: var(--font2);
  font-weight: var(--fw-3);
  font-size: 1.6rem;
  line-height: 1.973rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: #a7aaad;
}

.testimonial:not(:last-child) {
  margin-bottom: 6.4rem;
}

.testimonial img {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.testimonial blockquote {
  font-family: var(--font1);
  font-weight: var(--fw-1);
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.013rem;
  color: #5b636d;
  margin-bottom: 3.2rem;
}

.testimonial h4 {
  margin-bottom: 0.9rem;
  font-family: var(--font2);
  font-weight: var(--fw-3);
  font-size: 1.8rem;
  line-height: 2.219rem;
  letter-spacing: -0.013rem;
  color: #24303e;
}

.testimonial span {
  font-family: var(--font1);
  font-weight: var(--fw-1);
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: -0.01rem;
  color: #a7aaad;
}

/* PROJECTS */

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 8.6rem;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 6.4rem 0 8rem;
  text-align: center;
  background-color: #90d4c6;
}

footer .logo {
  width: 17rem;
  height: 3.3rem;
  margin-bottom: 4rem;
}

.footer__nav ul {
  display: flex;
  gap: 5.7rem;
  margin-bottom: 8.8rem;
  font-family: var(--font1);
  font-weight: var(--fw-1);
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: -0.013rem;
  color: #458d7e;
}

.footer__nav li {
  transition: all 0.3s;
}

.footer__nav li:hover {
  color: #fff;
}

.socials {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.socials__icon {
  color: #2c7566;
  transition: color 0.3s;
}

.socials__icon:hover {
  color: #fff;
}

/* IMAGES */

img {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}
