/* TABLETS */
@media (min-width: 768px) {
  body {
    padding: 0 9.7rem;
  }

  header {
    margin: 14rem 0 3.6rem;
  }

  .searchbar {
    margin-bottom: 2.4rem;
  }

  .searchbar__form {
    padding: 1rem 1rem 1rem 3.2rem;
  }

  .searchbar__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 2.4rem;
  }

  .searchbar__input {
    font-size: 1.8rem;
  }

  .searchbar__btn {
    font-size: 1.6rem;
  }

  .user {
    padding: 4rem;
    font-size: 1.5rem;
  }

  .user img {
    width: 11.7rem;
    height: 11.7rem;
    margin-right: 4rem;
    margin-bottom: 2.4rem;
  }

  .user__name {
    font-size: 2.8rem;
  }

  .user__username {
    font-size: 1.6rem;
  }

  .user__bio {
    margin-bottom: 3.2rem;
  }

  .user__stats {
    text-align: left;
    margin-bottom: 3rem;
    padding: 1.5rem 9.6rem 1.7rem 3.2rem;
    justify-content: space-between;
  }

  .user__stats h4 {
    font-size: 1.3rem;
  }

  .user__stats p {
    font-size: 2.2rem;
  }

  .user__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    row-gap: 1.9rem;
  }

  .user__links li:not(:last-child) {
    margin-bottom: 0;
  }

  .user__links li:nth-of-type(1) {
    order: 1;
  }

  .user__links li:nth-of-type(2) {
    order: 3;
  }

  .user__links li:nth-of-type(3) {
    order: 2;
  }

  .user__links li:nth-of-type(4) {
    order: 4;
  }
}
