/* DESKTOP */
@media (min-width: 930px) {
  body {
    justify-content: center;
  }

  header {
    margin: 2rem 0 3.6rem;
  }

  .user {
    grid-template-areas:
      "img person"
      "img bio"
      "img stats"
      "img links"
      "popup popup";
    padding: 4.4rem 4.8rem;
  }

  .user img {
    margin-top: 0.4rem;
  }

  .user__personal {
    margin-bottom: 3.2rem;
    display: flex;
    justify-content: space-between;
  }

  .user__regdate {
    padding-top: 0.8rem;
  }

  .user__stats {
    margin-bottom: 3.7rem;
  }

  .error-message {
    position: static;
    margin-right: 2.4rem;
  }
}

/* TABLETS */
@media (min-width: 768px) {
  body {
    padding: 0 9.7rem;
    align-items: center;
  }

  header {
    max-width: 73rem;
  }

  main {
    max-width: 73rem;
  }

  .searchbar {
    margin-bottom: 2.4rem;
  }

  .searchbar__form {
    padding: 1rem 1rem 1rem 3.2rem;
    height: 6.9rem;
  }

  .searchbar__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 2.4rem;
  }

  .searchbar__input {
    font-size: 1.8rem;
  }

  .searchbar__btn {
    font-size: 1.6rem;
    padding: 0 2.4rem;
  }

  .user {
    font-size: 1.5rem;
  }

  .user img {
    width: 11.7rem;
    height: 11.7rem;
    margin-right: 4rem;
    margin-bottom: 2.4rem;
  }

  .user__name {
    font-size: 2.8rem;
  }

  .user__username {
    font-size: 1.6rem;
  }

  .user__bio {
    margin-bottom: 3.2rem;
  }

  .user__stats {
    text-align: left;
    padding: 1.5rem 9.6rem 1.7rem 3.2rem;
    justify-content: space-between;
  }

  .user__stats h4 {
    font-size: 1.3rem;
  }

  .user__stats p {
    font-size: 2.2rem;
  }

  .user__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    column-gap: 5.5rem;
    row-gap: 1.9rem;
  }

  .user__links li:not(:last-child) {
    margin-bottom: 0;
  }

  .user__links li:nth-of-type(1) {
    order: 1;
  }

  .user__links li:nth-of-type(2) {
    order: 3;
  }

  .user__links li:nth-of-type(3) {
    order: 2;
  }

  .user__links li:nth-of-type(4) {
    order: 4;
  }

  .user__icon {
    margin-right: 1.6rem;
  }

  .user__icon--location {
    margin-right: 1.9rem;
  }

  .error-message {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 929px) {
  header {
    margin: 14rem 0 3.6rem;
  }

  .user {
    padding: 4rem;
  }

  .user__personal {
    padding-top: 1.2rem;
  }

  .user__stats {
    margin-bottom: 3rem;
  }
}
