* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
button,
a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button,
input {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

:root {
  --clr-mainbg: #f6f8ff;
  --clr-header: #222731;
  --clr-theme: #4b6a9b;
  --clr-user: #2b3442;
  --clr-search: #0079ff;
  --clr-searchhover: #60abff;
  --clr-regdate: #697c9a;
  --clr-stats: #f6f8ff;
  --clr-input: #fefefe;
}

.darkmode {
  --clr-mainbg: #141d2f;
  --clr-header: #ffffff;
  --clr-theme: #ffffff;
  --clr-user: #ffffff;
  --clr-input: #1e2a47;
  --clr-stats: #141d2f;
  --clr-regdate: #ffffff;
  --clr-themehover: #90a4d4;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  padding: 0 2.4rem;
  min-width: 37.5rem;
  background-color: var(--clr-mainbg);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 3.1rem 0 3.6rem;
  margin-bottom: 3.6rem;
}

header h1 {
  font-size: 2.6rem;
  color: var(--clr-header);
}

header .theme {
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.25rem;
  gap: 1.6rem;
  align-items: center;
  color: var(--clr-theme);
}

header .theme:hover {
  color: var(--clr-header);
}

.darkmode header .theme:hover {
  color: var(--clr-themehover);
}

/* MAIN */
main {
  width: 100%;
}

/* SEARCHBAR */

.searchbar {
  margin-bottom: 1.6rem;
}

.searchbar__form {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  background-color: var(--clr-input);
  border-radius: 15px;
  padding: 0.7rem 0.7rem 0.7rem 1.6rem;
  height: 6rem;
  box-shadow: 0px 16px 30px -10px rgba(70, 95, 187, 0.1986);
}

.searchbar__icon {
  width: 2rem;
  height: 2rem;
  background: url(../assets/icon-search.svg) no-repeat;
  background-size: contain;
  margin-right: 0.9rem;
}

.searchbar__form input {
  flex: 1;
  margin-right: 0.9rem;
  font-family: "Space Mono", monospace;
  line-height: 2.5rem;
  color: var(--clr-header);
}

.searchbar__form input::placeholder {
  color: var(--clr-theme);
}

.searchbar__btn {
  font-size: 1.4rem;
  color: white;
  font-weight: 700;
  padding: 0 1.6rem;
  border-radius: 10px;
  background-color: var(--clr-search);
  height: 100%;
}

.searchbar__btn:hover {
  background-color: var(--clr-searchhover);
}

.error-message {
  position: absolute;
  color: #f74646;
  font-size: 1.3rem;
  font-weight: 700;
  left: 5rem;
  top: -1rem;
}

/* RESULT */

.user {
  background-color: var(--clr-input);
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 95, 187, 0.1986);
  padding: 3.3rem 2.4rem 4.8rem;
  display: grid;
  grid-template-areas:
    "img person"
    "bio bio"
    "stats stats"
    "links links"
    "loader loader"
    "error error";
  grid-template-columns: min-content;
  font-size: 1.3rem;
  margin-bottom: 7.9rem;
}

.user img {
  width: 7rem;
  border-radius: 100%;
  grid-area: img;
  margin-right: 1.9rem;
  margin-bottom: 3.3rem;
}

.user__personal {
  grid-area: person;
}

.user__name {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--clr-user);
}

.user__username {
  color: var(--clr-search);
  margin-bottom: 0.4rem;
  display: inline-block;
}

.user__regdate {
  color: var(--clr-regdate);
}

.user__bio {
  grid-area: bio;
  line-height: 2.5rem;
  margin-bottom: 2.3rem;
  color: var(--clr-theme);
}

.user__stats {
  grid-area: stats;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 1.9rem 0;
  border-radius: 10px;
  background: var(--clr-stats);
  margin-bottom: 2.4rem;
}

.user__stats h4 {
  font-size: 1.1rem;
  color: var(--clr-theme);
  font-weight: 400;
}

.user__stats p {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--clr-user);
}

.user__links {
  grid-area: links;
  color: var(--clr-theme);
}

.user__links li:not(:last-child) {
  margin-bottom: 1.6rem;
}

.user__icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: bottom;
  margin-right: 1.3rem;
  color: var(--clr-theme);
}

.user__icon--location {
  width: 1.375rem;
  height: 2rem;
  margin-right: 1.925rem;
}

.user__icon--blog {
  width: 2rem;
  height: 2rem;
}

.user__icon--twitter {
  width: 2rem;
  height: 1.625rem;
  vertical-align: sub;
}

.user__icon--company {
  width: 2rem;
  height: 2rem;
}

.user .loader {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  background: url(../assets/icon-loader.gif) no-repeat;
  background-size: contain;
  grid-area: loader;
  justify-self: center;
}

.user .error-icon {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  background: url(../assets/icon-error.png) no-repeat;
  background-size: contain;
  grid-area: error;
  justify-self: center;
}

.unavailable {
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
}

.unavailable a:hover {
  text-decoration: none;
}
