@media (min-width: 1900px) {
  html {
    font-size: 70.5%;
  }
}

@media (min-width: 1600px) and (max-width: 1899px) {
  html {
    font-size: 67.5%;
  }
}

@media (min-width: 1024px) {
  body {
    align-items: center;
    animation: 0.6s overflow forwards;
  }

  /* disables scrollbars only during on-load animation of cards */
  @keyframes overflow {
    0% {
      overflow: hidden;
    }
    99% {
      overflow: hidden;
    }
    100% {
      overflow: visible;
    }
  }

  .cards {
    display: grid;
    grid-template-areas:
      "dan dan john kira"
      "jean pat pat kira";

    max-width: 115.5rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 3.5rem 2.5rem;
    column-gap: 3rem;
  }

  .card {
    max-width: initial;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
  }

  .card::before {
    content: "";
    position: absolute;
    bottom: -0.1rem;
    right: 0;
    width: 0;
    border: 3px solid transparent;
    transition: all 0.5s;
  }

  .card::after {
    content: "";
    position: absolute;
    top: -0.1rem;
    left: 0;
    width: 0;
    border: 3px solid transparent;
    transition: all 0.5s;
  }

  .card:hover::after,
  .card:hover::before {
    width: 100%;
    border: 3px solid gold;
  }

  .card:hover {
    transform: scale(1.07);
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.06);
  }

  .card__dan {
    grid-area: dan;
    background-position: top right 8rem;
    animation: 0.6s left ease-in-out;
  }

  @keyframes left {
    0% {
      transform: translate(-100%, 0%);
      opacity: 0;
    }
    100% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
  }

  .card__john {
    grid-area: john;
    animation: 0.6s top ease-in-out;
    transition: all 0.3s;
  }

  @keyframes top {
    0% {
      transform: translate(0%, -100%);
      opacity: 0;
    }
    100% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
  }

  .card__jean {
    grid-area: jean;
    animation: 0.6s left ease-in-out;
  }

  .card__pat {
    grid-area: pat;
    animation: 0.6s bottom ease-in-out;
  }

  @keyframes bottom {
    0% {
      transform: translate(0%, 100%);
      opacity: 0;
    }
    100% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
  }

  .card__kira {
    grid-area: kira;
    animation: 0.6s right ease-in-out;
  }

  @keyframes right {
    0% {
      transform: translate(100%, 0%);
      opacity: 0;
    }
    100% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
  }

  .card__dan > .card__quote {
    padding-right: initial;
  }

  .card__pat > .card__quote {
    padding-right: 0.2rem;
  }
}

@media (max-width: 374px) {
  html {
    font-size: 50.5%;
  }
}
