@import "root.css";
@import "anims.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  /* fixes flash of unstyled content on Safari */
  display: block;
  visibility: visible;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

label {
  cursor: pointer;
}

input {
  width: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4rem 2.2rem;
  align-items: center;
  font-family: var(--font);
  font-weight: var(--fw-4);
  font-size: 1.4rem;
  color: var(--darktext1);
  background-color: var(--darkbg);
  transition: background-color 0.8s;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 23rem;
  z-index: -1;
  border-radius: 0 0 20px 20px;
  background-color: var(--darkbgtop);
  transition: background-color 0.8s;
}

/* HELPER CLASSES AND SHARED ATTRIBUTES */
.darkmode__input,
.darkmode__toggle,
.top__card {
  position: relative;
}

.darkmode__input:checked::after,
.darkmode__input:not(:checked)::before,
.darkmode__toggle::after,
.darkmode__toggle::before,
.top__card::after {
  content: "";
  position: absolute;
}

.flex {
  display: flex;
}

header,
.bottom__card {
  flex-direction: column;
}

.aligncenter {
  align-items: center;
}

.bottom__card--top,
.bottom__card--bottom {
  justify-content: space-between;
}

.fullwidth,
.darkmode__toggle::after,
.top__card::after {
  width: 100%;
}

.header__title h1,
.dashboard__bottom h2 {
  font-size: 2.4rem;
}

.header__title h1,
.header__darkmode:has(form:hover),
.card__number,
.dashboard__bottom h2 {
  color: var(--darktext2);
}

.darkmode__input:checked::after,
.darkmode__input:not(:checked)::before,
.darkmode__toggle {
  background: var(--toggledark);
}

.darkmode__toggle::before,
.card {
  background-color: var(--darkbgcard);
}

.darkmode__toggle::after,
.darkmode__input:checked ~ .darkmode__toggle:hover::after,
.card,
.card > *,
.dashboard__bottom h2 {
  opacity: 0;
}

.account__icon,
.rate__icon {
  background-repeat: no-repeat;
}

.loadtrans {
  transition: background 0.8s, color 0.8s, border-color 0.8s;
}

.header__darkmode > span,
.darkmode__toggle,
.darkmode__toggle::after {
  transition: all 0.5s;
}

/* for properly rendering on load animations */
.renderfix {
  will-change: transform;
}

/* HEADER */

header {
  align-self: start;
  margin-bottom: 3.5rem;
}

.header__title {
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid;
  border-color: #313446;
}

.header__title h1 {
  margin-bottom: 0.4rem;
}

.header__darkmode {
  justify-content: space-between;
}

.darkmode__input {
  animation: 1s hideRipple forwards;

  /* Fixes safari bug -- checkbox still showing desipite width set to 0 */
  transform: translateX(3rem);
}

.darkmode__input:checked::after,
.darkmode__input:not(:checked)::before {
  bottom: -2.2rem;
  left: -2.6rem;
  border-radius: 50%;
  box-shadow: 0px 2px 30px hsla(146, 68%, 55%, 0.8);
  animation: 0.8s ripple;
}

.darkmode__toggle {
  display: inline-block;
  vertical-align: middle;
  width: 4.8rem;
  height: 2.4rem;
  border-radius: 50px;
  box-shadow: 0px 5px 20px hsla(146, 68%, 55%, 0.1);
}

.darkmode__toggle:hover {
  box-shadow: 0px 5px 20px hsla(146, 68%, 55%, 0.4);
}

.darkmode__toggle::after {
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 50px;
  background: var(--togglelight);
}

.darkmode__input:checked ~ .darkmode__toggle::after {
  opacity: 1;
}

.darkmode__toggle::before {
  z-index: 2;
  top: 0.2rem;
  left: 0.4rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all 0.3s;
}

.darkmode__input:checked ~ .darkmode__toggle::before {
  left: 2.4rem;
  background-color: var(--lightbgcard);
}

/* DASHBOARD - GENERAL ATTRIBUTES*/
.dashboard {
  min-width: 24rem;
}

.card {
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  animation: 0.8s flipCard ease-in-out forwards;
}

.card > * {
  animation: 1s fadeIn forwards;
}

.card:hover {
  background-color: var(--darkbgcardhover);
  transition: background-color 0.3s;
}

.card:not(:last-child) {
  margin-bottom: 2rem;
}

.top__card > * {
  animation-delay: 0.3s;
}

.bottom__card > * {
  animation-delay: 0.9s;
}

.account__icon {
  width: 2rem;
  height: 2rem;
  background-position: center;
}

.account__icon--fb {
  background-image: url(../images/icon-facebook.svg);
}

.account__icon--tw {
  background-image: url(../images/icon-twitter.svg);
}

.account__icon--ig {
  background-image: url(../images/icon-instagram.svg);
}

.account__icon--yt {
  background-image: url(../images/icon-youtube.svg);
}

.card__rate {
  transform: translateY(-0.45rem);
  justify-content: center;
  gap: 0.4rem;
  font-size: 1.2rem;
}

.rate__icon {
  width: 0.8rem;
  height: 0.4rem;
}

.rate__icon--up {
  background-image: url(../images/icon-up.svg);
}

.rate__icon--up ~ span {
  color: var(--limegreen1);
}

.rate__icon--down {
  background-image: url(../images/icon-down.svg);
}

.rate__icon--down ~ span {
  color: var(--brightred1);
}

/* DASHBOARD - TOP */

.dashboard__top {
  margin-bottom: 4rem;
}

.top__card {
  padding: 3rem 0 2.2rem;
  overflow: hidden;
}

.top__card::after {
  top: 0;
  left: 0;
  height: 0.4rem;
}

.top__card--fb.top__card::after {
  background: var(--fb);
}

.top__card--tw.top__card::after {
  background: var(--tw);
}

.top__card--ig.top__card::after {
  background: var(--ig);
}

.top__card--yt.top__card::after {
  background: var(--yt);
}

.card__account {
  justify-content: center;
  gap: 0.7rem;
  margin-bottom: 1.6rem;
}

.card__account h2 {
  font-size: 1.1rem;
}

.top__card > .card__number {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 5rem;
}

.top__card > .card__stat {
  text-transform: uppercase;
  font-weight: var(--fw-1);
  font-size: 1rem;
  letter-spacing: 0.5rem;
  margin-bottom: 3rem;
}

/* DASHBOARD - BOTTOM */

.dashboard__bottom h2 {
  margin-bottom: 2.2rem;
  animation: 0.8s fadeIn forwards;
  animation-delay: 1s;
}

.bottom__card {
  justify-content: space-between;
  gap: 2.6rem;
  padding: 2.4rem 2.4rem 2rem;
  animation-delay: 0.6s;
}

.bottom__card--top > .card__stat {
  font-weight: var(--fw-4);
}

.bottom__card--bottom > .card__number {
  font-size: 3.1rem;
}

.bottom__card--bottom {
  align-items: flex-end;
}
