* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  font-size: inherit;
}

:root {
  /* PRIMARY */
  --slider: hsl(174, 76%, 80%);
  --sliderbg: hsl(174, 86%, 45%);
  --discountbg: hsl(14, 92%, 95%);
  --discounttext: hsl(15, 100%, 70%);
  --ctatext: hsl(226, 100%, 87%);

  /* NEUTRAL */
  --pricingbg: hsl(0, 0%, 100%);
  --mainbg: hsl(230, 100%, 99%);
  --emptyslider: hsl(224, 65%, 95%);
  --togglebg: hsl(223, 50%, 87%);
  --text: hsl(225, 20%, 60%);
  --textctabg: hsl(227, 35%, 25%);

  --font: "Manrope", sans-serif;
  --fw-1: 600;
  --fw-2: 800;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
  font-weight: var(--fw-1);
  background: var(--mainbg);
  font-size: 1.5rem;
}

body::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 40rem;
  background: url(../images/bg-pattern.svg);
  /* background-size: 100vw 40rem; */
  background-position: 0 -4.5rem;
  background-repeat: no-repeat;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  height: 14.5rem;
  margin: 5.7rem 0 3.2rem;
  text-align: center;
  background: url(../images/pattern-circles.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14.6rem 14.5rem;
}

header h1 {
  font-weight: var(--fw-2);
  font-size: 2rem;
  color: var(--textctabg);
}

header p {
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: var(--text);
}

/* PRICE CARD */

main {
  width: 100%;
  /* max-width: 54rem; */
  max-width: 58.8rem;
  padding: 0 2.4rem;
}

.pricing {
  padding: 3.4rem 0 3.2rem;
  border-radius: 8px;
  background: var(--pricingbg);
  box-shadow: 0px 20px 30px -5px hsla(231, 29%, 61%, 0.1521);
}

.pricing__category {
  display: grid;
  grid-template-areas:
    "views"
    "slider"
    "price";
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 0 2.4rem;
}

.pageviews {
  display: flex;
  justify-content: center;
  grid-area: views;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: var(--fw-2);
  letter-spacing: 0.171rem;
  color: var(--text);
}

.pageviews__number {
  position: relative;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: price;
  gap: 1rem;
  margin-bottom: 3.4rem;
}

.rate__price {
  position: relative;
  font-size: 3.2rem;
  letter-spacing: -0.08rem;
  font-weight: var(--fw-2);
  color: var(--textctabg);
}

.rate__period {
  font-size: 1.4rem;
  color: var(--text);
}

.price__monthly {
  transition: all 0.5s;
}

.number,
.price__yearly,
.yearly .price__monthly {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  /* transform: translateY(-2rem); */
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
}

.number {
  transform: translateY(-2rem);
}

.price .number,
.price__yearly,
.yearly .price__monthly {
  transform: translateY(-4rem);
}

.category--10k .number--10k,
.category--50k .number--50k,
.category--100k .number--100k,
.category--500k .number--500k,
.category--1m .number--1m,
.yearly .price__yearly {
  position: static;
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: slider;
  height: 4rem;
  /* margin-bottom: 2.4rem; */
  margin: 0 0 2.4rem;
}

.slider__input {
  appearance: none;
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    var(--slider) 0%,
    var(--slider) 50%,
    var(--emptyslider) 50%,
    var(--emptyslider) 100%
  );
  border-radius: 5px;
  height: 0.8rem;
  /* width: 27.9rem; */
  width: 100%;
  transition: background 450ms ease-in;
  cursor: pointer;
  /* margin: 4.1rem 0 4rem; */
}

/* .slider__input::-webkit-slider-runnable-track {
  height: 8px;
  width: 279px;

  border-radius: 5px;
  cursor: pointer;
}

.slider__input::-moz-range-track {
  height: 8px;
  width: 279px;

  border-radius: 5px;
  cursor: pointer;
} */

.slider__input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid transparent;
  background: url(../images/icon-slider.svg), var(--sliderbg);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 15px 30px hsla(174, 100%, 50%, 0.6);
  transition: background 0.3s;
  cursor: grab;
}

.slider__input::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid transparent;
  background: url(../images/icon-slider.svg), var(--sliderbg);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 15px 30px hsla(174, 100%, 50%, 0.6);
  transition: background 0.3s;
  cursor: grab;
}

.slider__input:focus-visible {
  outline: none;
}

.slider__input:focus-visible::-webkit-slider-thumb {
  outline: 2px solid black;
  outline-offset: 2.5px;
}

.slider__input:focus-visible::-moz-range-thumb {
  outline: 2px solid black;
  outline-offset: 2.5px;
}

.slider__input:hover::-webkit-slider-thumb {
  background: url(../images/icon-slider.svg), #7aeadf;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__input:hover::-moz-range-thumb {
  background: url(../images/icon-slider.svg), #7aeadf;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__input:active::-webkit-slider-thumb {
  background: url(../images/icon-slider.svg), #24aea1;
  background-repeat: no-repeat;
  background-position: center;
  cursor: grabbing;
}

.slider__input:active::-moz-range-thumb {
  background: url(../images/icon-slider.svg), #24aea1;
  background-repeat: no-repeat;
  background-position: center;
  cursor: grabbing;
}

.pricing__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 1.2rem; */
  /* Firefox size adjustment */
  font-size: 1.199rem;
  padding: 0 1.2rem 3.8rem 4.45rem;
  border-bottom: 1px solid var(--emptyslider);
  margin-bottom: 2.4rem;
}

.billing {
  /* font-size: 1.2rem; */
  color: var(--text);
}

.billing--monthly {
  margin-right: 1.2rem;
}

.billing--yearly {
  margin-right: 0.5rem;
}

.discount {
  font-size: 1rem;
  font-weight: var(--fw-2);
  padding: 0.2rem 0.894rem 0.3rem 0.793rem;
  text-align: center;
  color: var(--discounttext);
  background: var(--discountbg);
  border-radius: 9.5px;
}

.discount::before {
  content: "-25%";
}

.toggle__input {
  display: none;
}

.toggle {
  position: relative;
  display: block;
  width: 4.3rem;
  height: 2.2rem;
  border-radius: 15px;
  margin-right: 1.2rem;
  background: var(--togglebg);
  transition: all 0.3s;
  cursor: pointer;
}

.toggle:hover {
  background: #7aeadf;
}

.toggle::after {
  content: "";
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: var(--pricingbg);
  transition: all 0.3s;
}

.toggle__input:checked ~ .toggle::after {
  left: 2.4rem;
}

.toggle__ripple {
  content: "";
  position: absolute;
  top: -1.2rem;
  left: -0.01rem;
  border-radius: 50%;
  background: var(--sliderbg);
  opacity: 0;
}

@keyframes ripple {
  0% {
    width: 4.5rem;
    height: 4.5rem;
    opacity: 0.45;
  }
  100% {
    height: 7rem;
    width: 7rem;
    opacity: 0;
    top: -2.5rem;
    left: -1.31rem;
  }
}

/* CTA */

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.cta__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.2rem;
  color: var(--text);
  width: 14.8rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 1.605rem;
  text-align: center;
}

.feature:not(:last-child) {
  margin-bottom: 1rem;
}

.check {
  width: 0.696rem;
  height: 0.506rem;
  background: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: 0.695rem 0.504rem;
  background-position: center;
}

.cta button {
  font-weight: var(--fw-2);
  color: var(--ctatext);
  padding: 1.15rem 4.63rem 1.25rem;
  background: var(--textctabg);
  border-radius: 20.5px;
  transition: all 0.3s;
}

.cta button:hover {
  color: var(--pricingbg);
}
