* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

:root {
  /* PRIMARY */
  --slider: hsl(174, 77%, 80%);
  --sliderbg: hsl(174, 86%, 45%);
  --discountbg: hsl(14, 92%, 95%);
  --discounttext: hsl(15, 100%, 70%);
  --ctatext: hsl(226, 100%, 87%);

  /* NEUTRAL */
  --pricingbg: hsl(0, 0%, 100%);
  --mainbg: hsl(230, 100%, 99%);
  --emptyslider: hsl(224, 65%, 95%);
  --togglebg: hsl(223, 50%, 87%);
  --text: hsl(225, 20%, 60%);
  --textctabg: hsl(227, 35%, 25%);

  --font: "Manrope", sans-serif;
  --fw-1: 600;
  --fw-2: 800;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
  font-weight: var(--fw-1);
  background: var(--mainbg);
  font-size: 1.5rem;
}

body::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 40rem;
  background: url(../images/bg-pattern.svg);
  background-size: 100vw 40rem;
  background-repeat: no-repeat;
  z-index: -1;
}

header {
  margin: 5.7rem 2.4rem 3.2rem;
  height: 14.5rem;
  background: url(../images/pattern-circles.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14.6rem 14.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.8rem;
}

header h1 {
  font-weight: var(--fw-2);
  font-size: 2rem;
  color: var(--textctabg);
}

header p {
  font-size: 1.3rem;
  color: var(--text);
  line-height: 2.3rem;
}

.pricing {
  background: var(--pricingbg);
  padding: 3.4rem 0 3.2rem;
}

.pricing__category {
  display: flex;
}

.pageviews__number {
  position: relative;
  height: 17px;
  width: 32px;
}

.rate__price {
  width: 16px;
  height: 17px;
  position: relative;
}

.price__monthly {
  transition: all 0.5s;
}

.number,
.price__yearly,
.yearly .price__monthly {
  transition: all 0.5s;
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-2rem);
  pointer-events: none;
}

.category--10k .number--10k,
.category--50k .number--50k,
.category--100k .number--100k,
.category--500k .number--500k,
.category--1m .number--1m,
.yearly .price__yearly {
  opacity: 1;
  position: static;
  transform: translateY(0);
  pointer-events: auto;
}

.slider__input {
  appearance: none;
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    #a4f3eb 0%,
    #a4f3eb 50%,
    #ecf0fb 50%,
    #ecf0fb 100%
  );
  border-radius: 5px;
  height: 8px;
  width: 279px;
  transition: background 450ms ease-in;
  cursor: pointer;
}

/* .slider__input::-webkit-slider-runnable-track {
  height: 8px;
  width: 279px;

  border-radius: 5px;
  cursor: pointer;
}

.slider__input::-moz-range-track {
  height: 8px;
  width: 279px;

  border-radius: 5px;
  cursor: pointer;
} */

.slider__input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: url(../images/icon-slider.svg), #10d8c4;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 15px 30px hsla(174, 100%, 50%, 0.6);
  transition: background 0.3s;
  cursor: grab;
}

.slider__input::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: url(../images/icon-slider.svg), #10d8c4;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 15px 30px hsla(174, 100%, 50%, 0.6);
  transition: background 0.3s;
  cursor: grab;
}

.slider__input:focus-visible {
  outline: none;
}

.slider__input:focus-visible::-webkit-slider-thumb {
  outline: 2px solid black;
  outline-offset: 2.5px;
}

.slider__input:focus-visible::-moz-range-thumb {
  outline: 2px solid black;
  outline-offset: 2.5px;
}

.slider__input:hover::-webkit-slider-thumb {
  background: url(../images/icon-slider.svg), #7aeadf;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__input:hover::-moz-range-thumb {
  background: url(../images/icon-slider.svg), #7aeadf;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__input:active::-webkit-slider-thumb {
  background: url(../images/icon-slider.svg), #24aea1;
  background-repeat: no-repeat;
  background-position: center;
  cursor: grabbing;
}

.slider__input:active::-moz-range-thumb {
  background: url(../images/icon-slider.svg), #24aea1;
  background-repeat: no-repeat;
  background-position: center;
  cursor: grabbing;
}
