* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

fieldset {
  border: none;
}

h1,
h2 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

input {
  font-family: inherit;
}

:root {
  --inputborder: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --inputerror: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --lightgrayviolet: hsl(270, 3%, 87%);
  --darkgrayviolet: hsl(279, 6%, 55%);
  --verydarkviolet: hsl(278, 68%, 11%);

  --font: "Space Grotesk", sans-serif;
  --fw-1: 500;
  --fw-2: 400;
  --fw-3: 300;
}

body {
  min-height: 100vh;
  justify-content: center;
  font-family: var(--font);
  font-weight: var(--fw-1);
  color: var(--verydarkviolet);
  background: url(../images/bg-main-desktop.png);
  background-size: 100vw 24rem;
}

main {
  gap: 4.8rem;
  margin-bottom: 3rem;
}

/* HELPER CLASSES AND SHARED ATTRIBUTES */
.bg,
.details,
.details__form input {
  position: relative;
}

.bg__card,
.thanks,
.success .details__form {
  position: absolute;
}

.thanks,
.success .details__form {
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.fullwidth {
  width: 100%;
}

body,
.bg__card,
.bg__logo,
.thanks__icon {
  background-repeat: no-repeat;
}

.flex {
  display: flex;
}

main,
.bg__card--front,
.details__form label,
.thanks {
  flex-direction: column;
}

.bg__card--front,
.bg__info {
  justify-content: space-between;
}

main,
.thanks {
  align-items: center;
}

.bg,
.details__form label,
.details__mmyy,
.thanks h2 {
  text-transform: uppercase;
}

body,
.details__form input,
.bg__number {
  font-size: 1.8rem;
}

.details__form label,
.details__mmyy,
.error {
  font-size: 1.2rem;
}

.bg,
.form__button {
  color: var(--white);
}

.details__form input,
.form__button,
.error,
.thanks {
  transition: all 0.3s;
}

/* BACKGROUND */

.bg {
  max-width: 37.5rem;
  height: 24.6rem;
  margin-top: 3.2rem;
}

.bg__card {
  width: 28.6rem;
  height: 15.7rem;
  border-radius: 10px;
  font-size: 0.9rem;
  box-shadow: 0px 39px 60px rgba(0, 0, 0, 0.1425);
}

.bg__card--front {
  bottom: 0;
  left: 1.6rem;
  padding: 1.76rem 2.06rem 1.96rem 1.9rem;
  background: url(../images/bg-card-front.png);
  background-size: 100%;
}

.bg__logo {
  background-image: url(../images/card-logo.svg);
  background-size: 5.4rem;
  height: 3rem;
  width: 5.4rem;
}

.bg__number {
  letter-spacing: 0.22rem;
  display: inline-block;
  margin-bottom: 1.7rem;
}

.bg__info {
  letter-spacing: 0.129rem;
}

.bg__card--back {
  justify-content: flex-end;
  top: 0;
  right: 1.6rem;
  background: url(../images/bg-card-back.png), #dbdce1;
  background-size: 100%;
}

.bg__cvc {
  margin-top: 7.15rem;
  margin-right: 3.702rem;
  letter-spacing: 0.129rem;
}

/* FORM */

.details {
  padding: 0 2.4rem;
  max-width: 60rem;
}

.details__form label {
  letter-spacing: 0.2rem;
}

.label__name,
.details__mmyy legend {
  margin-bottom: 0.9rem;
}

label[for="name"],
label[for="number"] {
  margin-bottom: 1.2rem;
}

.details__form input {
  padding: 1rem 1.6rem;
  margin-bottom: 0.8rem;
  border-radius: 0.8rem;
  outline: none;
  border: 1px solid var(--lightgrayviolet);
  background: linear-gradient(white, white) padding-box,
    var(--inputborder) border-box;
}

.details__form input:focus {
  border: 1px solid transparent;
}

.details__form input::placeholder {
  opacity: 0.25;
  color: var(--verydarkviolet);
}

.details__set {
  gap: 1.1rem;
  margin-bottom: 1.7rem;
}

.details__mmyy {
  width: 49.844%;
  min-width: 0;
  letter-spacing: 0.2rem;
}

.details__mmyy div {
  width: 94.75%;
  gap: 0.8rem;
}

label[for="mm"],
label[for="yy"] {
  width: 50%;
}

label[for="cvc"] {
  width: 50%;
  width: 50.156%;
}

.form__button {
  border-radius: 0.8rem;
  padding: 1.5rem 0;
  background: var(--verydarkviolet);
}

.form__button:hover {
  background: hsl(275, 82%, 57%);
}

.error {
  display: block;
  height: 0;
  text-transform: initial;
  letter-spacing: initial;
  opacity: 0;
  color: var(--inputerror);
}

.invalid ~ .error,
div:has(.invalid) ~ .error {
  opacity: 1;
}

.invalid.input {
  border: 1px solid var(--inputerror);
}

/* THANK YOU MESSAGE */

.thanks__icon {
  width: 8rem;
  height: 8rem;
  margin-bottom: 3.5rem;
  background: url(../images/icon-complete.svg);
  background-size: 8rem;
}

.thanks h2 {
  font-size: 2.8rem;
  letter-spacing: 0.342rem;
  margin-bottom: 1.6rem;
}

.thanks span {
  margin-bottom: 4.8rem;
  color: var(--darkgrayviolet);
}

.success .thanks {
  position: static;
  opacity: 1;
  pointer-events: auto;
}

@keyframes shake {
  0% {
    transform: translateX(0rem);
    background: linear-gradient(white, white) padding-box, red border-box;
  }
  25% {
    transform: translateX(0.5rem);
  }
  45% {
    transform: translateX(-0.5rem);
  }
  65% {
    transform: translateX(0.5rem);
  }
  85% {
    transform: translateX(-0.5rem);
  }
  95% {
    background: linear-gradient(white, white) padding-box, red border-box;
  }
  100% {
    transform: translateX(0rem);
    background: linear-gradient(white, white) padding-box,
      var(--inputborder) border-box;
  }
}
