* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --almostwhite: hsl(0, 0%, 98%);
  --mediumgray: hsl(0, 0%, 41%);
  --almostblack: hsl(0, 0%, 8%);

  --font: "Epilogue", sans-serif;
  --fw-1: 500;
  --fw-2: 700;
}

/* SHARED ATTRIBUTES */
.dimmer,
.header__nav,
.nav__menu {
  position: fixed;
}

body,
header,
.dropdown__title,
.dropdown__item,
main,
.hero__featured {
  display: flex;
}

body,
main {
  flex-direction: column;
}

header,
.dropdown__title,
main,
.hero__featured {
  align-items: center;
}

header,
.hero__featured {
  justify-content: space-between;
}

.nav__login,
.nav__register,
.dropdown__arrow,
.nav--active ~ .nav__menu > .menu--close,
.menu--open {
  display: block;
}

.hide-load,
.nav--active ~ .nav__menu > .menu--open,
.menu--close {
  display: none;
}

.dimmer,
.nav__register,
.hero__background,
.hero__content {
  width: 100%;
}

.dropdown__title,
.dropdown__item {
  width: max-content;
}

.hero__cta > h1,
.hero__cta > button {
  font-weight: var(--fw-2);
}

.nav__item,
.nav__register,
.dropdown__arrow,
.dropdown__item,
.hero__cta > button {
  transition: all 0.3s;
}

.header__nav,
.dropdown {
  transition: all 0.5s;
}

.nav__item:hover,
.dropdown__item:hover,
.hero__cta > button:hover {
  color: #000;
}

body,
.header__nav {
  background-color: var(--almostwhite);
}

/* //////////////// */

body {
  min-height: 100vh;
  font-family: var(--font);
  font-size: 1.8rem;
  color: var(--mediumgray);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
button,
a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

/* DIMMER */

.dimmer {
  height: 100%;
  transition: width 0.5s, height 0.5s, background-color 0.5s;
}

.dimmer--active {
  background-color: rgba(0, 0, 0, 0.75);
}

/* HEADER AND NAV */

header {
  margin: 1.6rem 0 2.4rem;
  padding: 0 1.6rem;
}

header > img {
  padding-top: 0.8rem;
}

.header__nav {
  z-index: 2;
  top: 0;
  right: 0;
  width: 24rem;
  height: 100vh;
  transform: translateX(100%);
}

.nav--active {
  transform: translateX(0);
}

.nav__left {
  margin: 7.8rem 0 3.2rem 2.4rem;
  font-size: 1.6rem;
  line-height: 26px;
}

.nav__left li:not(:last-child) {
  margin-bottom: 1.6rem;
}

.nav__right {
  margin: 0 2.1rem 0 2.4rem;
  font-size: 1.4rem;
  line-height: 16px;
  text-align: center;
}

.nav__login {
  margin-bottom: 1.6rem;
}

.nav__register {
  padding: 1.3rem 0;
  border-radius: 14px;
  border: 1.5px solid var(--mediumgray);
}

.nav__register:hover {
  border-color: #000;
}

/* DROPDOWNS */

.dropdown {
  height: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.dropdown--active {
  margin-bottom: 2.4rem;
  transition: height 0.5s, margin 0.5s, opacity 0.6s 0.15s;
  opacity: 1;
  pointer-events: auto;
  overflow: visible;
}

.dropdown--features li {
  margin-left: 2.3rem;
}

.dropdown--features.dropdown--active {
  margin-top: 2.4rem;
}

.dropdown--company li {
  margin-left: 2.4rem;
}

.dropdown--company.dropdown--active {
  margin-top: 1.8rem;
}

.dropdown__title {
  gap: 1.7rem;
  padding: 0.45rem 0;
}

.dropdown__arrow {
  width: 1rem;
  height: 0.7rem;
  background: url(../images/icon-arrow-mobile.svg);
}

.dropdown__title:hover .dropdown__arrow {
  filter: brightness(0);
}

.flip {
  transform: rotate(-180deg);
}

.dropdown__icon {
  display: inline-block;
  margin: 0.2rem 0 0.4rem;
}

.icon--todo {
  width: 1.75rem;
  height: 2rem;
  margin: 0 1.55rem 0 0.1rem;
  background: url(../images/icon-todo.svg) center no-repeat;
}

.icon--calendar {
  width: 2rem;
  height: 2rem;
  margin-right: 1.4rem;
  background: url(../images/icon-calendar.svg) center no-repeat;
}

.icon--reminders {
  width: 1.5rem;
  height: 2rem;
  margin: 0 1.6rem 0 0.3rem;
  background: url(../images/icon-reminders.svg) center no-repeat;
}

.icon--planning {
  width: 2rem;
  height: 2rem;
  margin-right: 1.4rem;
  background: url(../images/icon-planning.svg) center no-repeat;
}

/* MOBILE NAV HAMBURGER */

.nav__menu {
  z-index: 3;
  right: 1.6rem;
}

.menu--open {
  width: 3.2rem;
  height: 1.8rem;
  background: url(../images/icon-menu.svg) no-repeat;
}

.menu--close {
  width: 2.404rem;
  height: 2.404rem;
  background: url(../images/icon-close-menu.svg) no-repeat;
  background-size: contain;
}

/* BACKGROUND IMAGE */

.hero__background {
  max-width: 50rem;
  height: clamp(28.125rem, 75vw, 37.5rem);
  margin-bottom: 4.775rem;
  background: url(../images/image-hero-mobile.png) center no-repeat;
  background-size: cover;
}

/* HERO */

.hero__content {
  max-width: 70rem;
}

.hero__cta {
  text-align: center;
  margin-bottom: 4.8rem;
}

.hero__cta > h1 {
  margin-bottom: 1.6rem;
  font-size: 3.6rem;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: var(--almostblack);
}

.hero__cta > p {
  margin: 0 1.6rem 2.4rem;
  font-size: 1.6rem;
  line-height: 26px;
  font-weight: var(--fw-1);
}

.hero__cta > button {
  padding: 1.1rem 1.95rem 0.9rem 2.305rem;
  border-radius: 15px;
  font-size: 1.6rem;
  line-height: 26px;
  letter-spacing: -0.22px;
  color: var(--almostwhite);
  border: 1px solid #000;
  background-color: #000;
}

.hero__cta > button:hover {
  background-color: transparent;
}

.hero__featured {
  margin: 0 1.6rem 6rem;
}

.featured__databiz {
  width: 81.25px;
  height: 14.36px;
}

.featured__audiophile {
  width: 52.87px;
  height: 26px;
}

.featured__meet {
  width: 64.14px;
  height: 14.36px;
}

.featured__maker {
  width: 58.9px;
  height: 17.23px;
}
