* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
input,
button {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

input,
button {
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

:root {
  --green: #54e6af;
  --darkblue: #2c344b;
  --darkestblue: #121725;
  --lightblue: #5a668a;
  --lightestblue: #c2cbe5;
  --red: #fb3e3e;
  --font: "Chivo", sans-serif;
  --fw-1: 100;
  --fw-2: 200;
  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 900;
}

/* SHARED ATTRIBUTES */
body,
.wrapper,
.hero,
.hero__featured,
.hero__cta {
  display: flex;
}

body,
.wrapper,
.hero,
.hero__cta {
  flex-direction: column;
}

.wrapper,
.hero__featured {
  align-items: center;
}

.hero,
.cta__button {
  text-align: center;
}

.hero__cta,
.hero__featured {
  width: 100%;
  align-self: center;
  max-width: 38rem;
}

.cta__input,
.cta__button {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.8rem;
  border-radius: 28px;
}

.hero > h1 span,
.cta__input,
.cta__input::placeholder {
  color: #fff;
}

/* /////////////// */

body {
  min-height: 100vh;
  font-family: var(--font);
  background-color: var(--darkestblue);
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/image-host-mobile.jpg) no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.wrapper {
  margin: 6.2rem 2.4rem 0;
}

header {
  margin-bottom: 5.7rem;
}

.logo {
  width: 13.485rem;
  height: 5.6rem;
}

.hero {
  font-weight: var(--fw-1);
}

.hero > h1 {
  margin-bottom: 1.6rem;
  font-size: 2.6rem;
  color: var(--green);
  text-transform: uppercase;
  line-height: 3.8rem;
}

.hero > p {
  margin-bottom: 3.15rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--lightestblue);
}

.hero__featured {
  justify-content: space-between;
  margin: 0 0.6rem 4.65rem;
}

.cta__input {
  width: 100%;
  padding: 0.9rem 0 0.9rem 3.2rem;
  background-color: var(--darkblue);
}

.cta__input::placeholder {
  opacity: 0.5;
}

.cta__error {
  height: 0;
  margin-bottom: 1.6rem;
  font-weight: var(--fw-4);
  font-size: 1.2rem;
  line-height: 1.428rem;
  color: var(--red);
  opacity: 0;
  transition: all 0.3s;
}

.error--active {
  margin-top: 0.8rem;
  opacity: 1;
}

.cta__button {
  padding: 0.9rem 0;
  background-color: var(--green);
  box-shadow: 0px 25px 20px -20px hsla(157, 74%, 62%, 0.04979);
  transition: background-color 0.3s;
}

.cta__button:hover {
  background-color: #b3ffe2;
}
